# Don't inherit external formatting
root = true

# Git does this already, but CRLF is still a sin, so...
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Not sure which files should match, so rn it's just source files
[*.{java,kts}]
charset = utf-8
indent_style = space
indent_size = 4
